.card {
  background: #ecf0f1;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 500px;
  position: relative;
}

.title {
  padding-bottom: 0.25rem;
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
}

.title:hover {
  color: #2980b9;
}

.text {
  padding-bottom: 0.25rem;
  color: #324b4b;
}

.delete {
  color: white;
  background: rgb(0, 255, 179);
}
