* {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
}

:root {
  --main-txt-color: #000000;
  --primary-color: #0ea5e9;
}

button {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0;
  text-decoration: none;
  background: #33cccc;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: solid rgba(153, 153, 153, 0.4) 1px;
  border-radius: 0.5rem;
  border-width: 0.15rem;
}

input[type="submit"] {
  display: inline-block;
  border: solid rgba(153, 153, 153, 0.4) 1px;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 0rem;
  text-decoration: none;
  background: var(--primary-color);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
}

.v-center {
  vertical-align: text-bottom;
}

.under-nav {
  margin-top: 64px;
}

.container {
  background: #ffffff;
  padding: 1rem;
  border: solid rgba(153, 153, 153, 0.4) 1px;
  border-radius: 0.5rem;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.header-text {
  margin: 0;
  margin-bottom: 1rem;
}

body {
  background: linear-gradient(#f1f5f9, #eff6ff);
}

html {
  height: 100%;
}
