.navbar {
  background: none;
  height: 64px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items-container {
  display: flex;
}

.nav-item {
  display: inline;
  padding-right: 1rem;
}

.nav-item-text {
  color: var(--main-txt-color);
}

.nav-item-text:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.logo-text {
  color: var(--main-txt-color);
  margin: 1rem;
}
